<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Foods</title>

    <script src="/scripts/jquery/dist/jquery.js"></script>
    <!-- DataTables: https://datatables.net -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>

    <link rel="stylesheet" type="text/css" href="/assets/css/global.css">

	<script type="text/javascript" class="init">
	    $(document).ready(function() {
            $('#datatable').DataTable( {
                "ajax": "/db/foods",
                "order": [[ 0, "asc" ]],
                "autoWidth": false,
                "columns": [
                    { "data": "foodname" }
                ]
            } );
        } );
	</script>

</head>

<body>
    <h1>Foods</h1>
    
    <div><a href="/">Home</a> &gt; Foods</div><br>

    <table id="datatable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Food Name</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Food Name</th>
            </tr>
        </tfoot>
    </table>
    
</body>

</html>