<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Reaction</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/scripts/jquery/dist/jquery.js"></script>
</head>

<body>
    <legend>Reaction</legend>

    <h3>{{description}}</h3>
    <p><b>Person:</b> {{person}}</p>
    <p><b>Date:</b> {{formatDate date day="numeric" month="long" year="numeric"}}</p>
    <p><b>Details:</b> {{details}}</p>

</body>
</html>