body {
    font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 90%;
    line-height: 1.45em;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    margin: 10;
    padding: 0;
    color: #333;
    background-color: #fff;
}

a:link { 
	color:blue;
	text-decoration: underline;
}

a:visited { 
	color:blue;
	text-decoration: underline;
}

a:hover { 
	color:#437690; 
	text-decoration: none;
}

a:active { 
	color:#D0CFC8;
	text-decoration: underline;
}