<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{appname}}</title>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="/assets/css/global.css">

</head>

<body>
    <h1>Allergy Tracker</h1>

    <h2>Lists</h2>
    <ul>
        <li><a href="/list/dietchanges">Diet Changes</a></li>
        <li><a href="/list/reactions">Reactions</a></li>
        <li><a href="/list/events">Other Events</a></li>
        <li><a href="/list/people">People</a></li>
        <li><a href="/list/foods">Foods</a></li>
    </ul>

    <h2>Create</h2>

    <ul>
        <li><a href="/input/dietchange">New Diet Change</a></li>
        <li><a href="/input/reaction">New Reaction</a></li>
        <li><a href="/input/event">New Other Event</a></li>
        <li><a href="/input/food">New Food</a></li>
    </ul>
    
</body>

</html>